// Place all the styles related to the play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  background-color:#0080FF;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  width: 50px;
}
